@keyframes carregamento {
    from {
        width: 0vw;
    }

    to {
        width: 33vw;
    }
}

#carregamento {
    animation-duration: 1s;
    width: 33vw;
    background-color: #a89f9f;
}

#carregamento p {
    font-size: 30px;
    color: #ffffff;
}