@keyframes carregamento {
    from {
        width: 0vw;
    }

    to {
        width: 50vw;
    }
}

#carregamento {
    width: 50vw;
    background-color: #a89f9f;
}

#carregamento p {
    font-size: 20px;
    color: #ffffff;
}

main #lista {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    line-height: 2em;
}

main #lista li {
    margin-top: 20px;
    font-size: .8em;
}

main #lista h2 {
    font-size: 2em;
}

main #lista h3 {
    color: #a89f9f;
    margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    main #lista li {
        font-size: 1em;
    }

    #carregamento p {
        font-size: 30px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    main #lista li {
        font-size: 1em;
    }

    #carregamento p {
        font-size: 30px;
    }
}

@media screen and (min-width: 1200px) {
    main #lista li {
        font-size: 1em;
    }

    #carregamento p {
        font-size: 30px;
    }
}