@keyframes carregamento {
    from {
        width: 0vw;
    }

    to {
        width: 33vw;
    }
}

#carregamento {
    animation-duration: 1s;
    width: 33vw;
    background-color: #a89f9f;
}

#carregamento p {
    font-size: 20px;
    color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #carregamento p {
        font-size: 30px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #carregamento p {
        font-size: 30px;
    }
}

@media screen and (min-width: 1200px) {
    #carregamento p {
        font-size: 30px;
    }
}